*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(21, 255, 0);
    padding: 16px 0;
    color: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

header li a {
    color: #fff;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
}

#entertaiment h3 {
    color: red;
}

#technology h3 {
    color: green;
}

#sports {
    background-color: blue;
}

#sports a {
    background-color: rgb(207, 14, 14);
}

#economy {
    background-color: rgb(0, 255, 21);
}

#economy a {
    background-color: rgb(129, 0, 108);
}

#entertaiment {
    background-color: rgb(235, 27, 27);
}

#entertaiment a {
    background-color: rgb(48, 236, 73);
}

#technology {
    background-color: rgb(208, 255, 0);
}

#technology a {
    background-color: rgb(28, 194, 206);
}